---
import Dashboard from "../../../layouts/Dashboard.astro";
import ModalForms from "../../../components/ModalForms.astro";
import { ICONS } from "../../../constants";
import SharedTo from "../../../components/SharedTo.astro";
import ShareResource from "../../../components/ShareResource.astro";
---

<Dashboard pageTitle="Resource">
  <section
    slot="content"
    class="card bg-white w-full rounded-none py-12 px-12 shadow-sm flex flex-col gap-8"
  >
    <div class="flex justify-between items-center gap-4 flex-wrap">
      <h2 class="text-xl font-semibold">Resource</h2>
      <div class="flex items-center gap-4">
        <label class="input rounded-none w-[220px]">
          <svg
            class="h-[1em] opacity-50"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <g
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-width="2.5"
              fill="none"
              stroke="currentColor"
            >
              <circle cx="11" cy="11" r="8"></circle>
              <path d="m21 21-4.3-4.3"></path>
            </g>
          </svg>
          <input type="search" class="grow" placeholder="Search" />
        </label>
        <label class="w-[160px]">
          <select class="select w-full rounded-none">
            <option disabled selected>All Types</option>
            <option>Kubernetes</option>
            <option>Google IAM</option>
            <option>VM</option>
          </select>
        </label>
        <button
          class="btn btn-neutral rounded-none w-[140px]"
          onclick="resource.showModal()"
        >
          + Create New
        </button>
      </div>
    </div>
    <div class="grid grid-cols-4">
      <div class="card card-border bg-white rounded-none">
        <div class="card-body">
          <h2 class="card-title">8grams</h2>
          <div class="flex flex-col gap-3">
            <div class="flex items-center justify-between gap-4">
              <p class="text-gray-700">Type</p>
              <p class="text-right">Virtual Machine</p>
            </div>

            <div class="flex items-center justify-between gap-4">
              <p class="text-gray-700">IP</p>
              <p class="text-right">127.0.0.1</p>
            </div>

            <div class="flex items-center justify-between gap-4">
              <p class="text-gray-700">Open in console</p>
              <a href="#" class="flex items-center justify-end">
                <ICONS.terminal class="fill-black w-5 h-5" />
              </a>
            </div>

            <div class="flex items-center justify-between gap-4">
              <p class="text-gray-700">See detail</p>
              <button
                class="cursor-pointer flex items-center justify-end"
                onclick="sharedto.showModal()"
              >
                <ICONS.openInNew class="fill-black w-5 h-5" />
              </button>
            </div>

            <div class="flex items-center justify-between gap-4">
              <p class="text-gray-700">Share resource</p>
              <button
                class="cursor-pointer flex items-center justify-end"
                onclick="shareresource.showModal()"
              >
                <ICONS.share class="fill-black w-5 h-5" />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div slot="dialog">
    <ModalForms dialogId="resource" slot="dialog" type="resources" />
    <SharedTo />
    <ShareResource />
  </div>
</Dashboard>
