---
import { openDB } from "../../../utils/db";
import { ICONS } from "../../../constants";
import Forms from "../../../components/Forms.astro";
import getStringField from "../../../utils/field_cast";

const db = await openDB();

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const id = getStringField(formData, "resource_id");
  await db.run("DELETE FROM shares WHERE id = ?", [id]);
  return Astro.redirect("/dashboard/resources");
}
---

<dialog id="shared_to" class="modal">
  <div class="modal-box max-w-3xl">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
        >✕</button
      >
    </form>
    <div
      class="overflow-x-auto"
      x-data="{
        sharedTo: [],
        async fetchSharedTo(rid) {
          if(!rid) return;
          const res = await fetch(`/api/shared-to?resourceId=${rid}`, {
            method: 'GET'
          })
          const result = await res.json()
          this.sharedTo = result.sharedTo
        }
      }"
      x-effect="fetchSharedTo(selectedResourceId)"
    >
      <table class="table">
        <thead>
          <tr>
            <th class="text-black">Shared to</th>
            <th class="text-black">Permission</th>
            <th class="text-black">Expired At</th>
            <th class="text-black">Next Rotation</th>
            <th class="text-black">Action</th>
          </tr>
        </thead>
        <tbody>
          <template x-for="item in sharedTo">
            <tr :key="item.id">
              <td x-text="item.email"></td>
              <td x-text="item.role"></td>
              <td x-text="item.expired_at"></td>
              <td x-text="item.next_rotation"></td>
              <td>
                <Forms
                  method="POST"
                  action={`/dashboard/resources/shared-to`}
                  onsubmit="return confirm('Are you sure you want to remove this shared resource?');"
                >
                  <input type="hidden" name="resource_id" :value="item.id" />
                  <button class="cursor-pointer" type="submit">
                    <ICONS.delete class="w-5 h-5 fill-black" />
                  </button>
                </Forms>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</dialog>
