---
import Forms from "../../../../components/Forms.astro";
import { openDB } from "../../../../utils/db";

const db = await openDB();

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const userId = formData.get("id");

  if (userId) {
    await db.run("DELETE FROM eligible_users WHERE id = ?", [userId]);
  }
  return Astro.redirect("/dashboard/settings/eligible-users");
}

const { id } = Astro.props;
---

<dialog id={`delete_modal_eligible_${id}`} class="modal">
  <div class="modal-box w-sm">
    <Forms
      class="flex flex-col gap-6"
      method="POST"
      action="/dashboard/settings/eligible-users/delete-eligible-users"
    >
      <h2 class="card-title justify-center">Delete Eligible User</h2>
      <p>Are you sure you want to delete this eligible user?</p>
      <input type="hidden" name="id" value={id} />
      <div class="flex justify-end">
        <button
          type="button"
          class="btn btn-neutral rounded-none"
          x-on:click="$el.closest('dialog').close()"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="btn btn-error rounded-none ml-2 text-white"
        >
          Delete
        </button>
      </div>
    </Forms>
  </div>
</dialog>
