---
import Layout from "./Layout.astro";
import Forms from "../components/Forms.astro";
const { pageTitle } = Astro.props;

const { user } = Astro.locals;
---

<Layout pageTitle={pageTitle}>
  <nav class="w-full bg-white shadow-md">
    <div class="flex justify-between items-center px-6 py-6">
      <ul
        class="flex items-center gap-6"
        x-data="{ current: window.location.pathname }"
      >
        <li>
          <a
            :class="current === '/dashboard/resources' ? 'underline underline-offset-12 font-bold text-neutral' : 'text-gray-500'"
            href="/dashboard/resources"
          >
            Resource
          </a>
        </li>
        <li>
          <a
            :class="current === '/dashboard/superuser-keys' ? 'underline underline-offset-12 font-bold text-neutral' : 'text-gray-500'"
            href="/dashboard/superuser-keys">Superuser Keys</a
          >
        </li>
        <li>
          <a
            :class="current === '/dashboard/shared-keys' ? 'underline underline-offset-12 font-bold text-neutral' : 'text-gray-500'"
            href="/dashboard/shared-keys">Shared Keys</a
          >
        </li>
        <li>
          <a
            :class="current === '/dashboard/shared-with-you' ? 'underline underline-offset-12 font-bold text-neutral' : 'text-gray-500'"
            href="/dashboard/shared-with-you">Shared with you</a
          >
        </li>
        {user?.role === 'ADMIN' && (
          <li x-data="{ open: false }" class="relative">
            <a
              href="#"
              @click.prevent="open = !open"
              :class="current === '/dashboard/settings' ? 'underline underline-offset-12 font-bold text-neutral' : 'text-gray-500'"
              class="cursor-pointer flex items-center justify-between"
            >
              Settings
              <svg
                class="w-4 h-4 ml-1 transform"
                :class="open ? 'rotate-180' : ''"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"></path>
              </svg>
            </a>

            <ul
              x-show="open"
              @click.outside="open = false"
              x-transition
              class="absolute left-0 mt-2 bg-white shadow rounded p-2 z-10 w-48"
            >
              <li>
                <a
                  href="/dashboard/settings/eligible-users"
                  class="block px-4 py-2 hover:bg-gray-100 rounded"
                >Eligible Users</a
                >
              </li>
            </ul>
          </li>
        )}
      </ul>

      <div class="relative" x-data="{ open: false }">
        <button class="btn btn-ghost" @click="open = !open">
          @8grams
          <svg
            class="ml-2 w-4 h-4 transition-transform"
            :class="open ? 'rotate-180' : ''"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 9l-7 7-7-7"></path>
          </svg>
        </button>
        <ul
          class="menu menu-md dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52 absolute right-0 z-50"
          x-show="open"
          x-transition
          @click.outside="open = false"
          x-cloak
        >
          <li>
            <Forms action="/api/logout" method="POST">
              <button type="submit">Logout</button>
            </Forms>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main class="py-6 px-6">
    <div class="toast toast-top toast-end" id="toast-container"></div>
    <slot name="content" />
  </main>
</Layout>
<slot name="dialog" />
<slot name="script" />
