---
import "../styles/global.css";

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Porter - {pageTitle}</title>
  </head>
  <body>
    <slot />
  </body>
  <script is:inline src="//unpkg.com/alpinejs" defer></script>
</html>
